* {
    margin: 0;
    padding: 0;
}
body
{
    background: url('bank2.jpg') no-repeat center center/cover;
}
#nav-bar {
    background-color: #8c4852;
    position: sticky;
    top: 0;
    z-index: 10;
    float: left;
}
.navbar {
    padding: 0 !important;
}
.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: white !important;
    font-weight: 600;
    float: left;
    text-align: left;
}

.navbar-brand {
    font-size: 1.5rem;
    color: #5f6368 !important;
}

.nav-link:hover {
    color:aqua;
    background-color: #d1425f;
    transition: all 1s ease;
}
h1
{
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    color:#2ec7e2
}
#main {
    text-align: center;
}
.my-info {
    padding: 2rem 5rem;
}

